# Archivos de compilación
bin/
obj/
.vs/
.vscode/
.publish/

# Archivos temporales
*.tmp
*.log

# Configuraciones sensibles
appsettings.Development.json
appsettings.Production.json
Providers_API/appsettings.Development.json
Providers_API/appsettings.Production.json

# Archivos de usuario de Visual Studio
*.user
*.suo

# Pruebas HTTP locales
*.http


